<div class="row">
  <div class="peeps" class="col-xs-12">
    <% Peep.each do |peep| %>
      <ul>
        <li><span class="glyphicon glyphicon-record"></span><%= peep.message %></li>
      </ul>
    <% end %>
  </div>
</div>
