<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <%= erb :'manageuser' %>
    <%= yield %>
  </div>
</body>
</html>